# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Production
build/

# Env files
.env
.env.local
.env.*.local

# Debug
npm-debug.log*

# Vercel
.vercel

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
